[Unit]
Description=Sensor Daemon

[Service]
Type=notify
ExecStart=/usr/bin/sf_server
Restart=always
RestartSec=0
MemoryLimit=10M

[Install]
WantedBy=multi-user.target
